# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your computer.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

/node_modules
/vendor
npm-debug.log
yarn-error.log

/tests/Mock/bootstrap/cache/*
/tests/Mock/storage/framework/cache/*
/tests/Mock/storage/framework/sessions/*
/tests/Mock/storage/framework/testing/*
/tests/Mock/storage/framework/views/*
/tests/Mock/storage/logs/*
/tests/Mock/database/*.sqlite

.env
storage/*.key
.phpunit.result.cache

/.idea
/.fleet
/.vscode

.env.backup
.env.production
auth.json
