<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory suffix="Test.php">./tests/Unit</directory>
            <directory suffix="Test.php">./tests/Validation</directory>
            <directory suffix="Test.php">./tests/Pipeline</directory>
            <directory suffix="Test.php">./tests/Cache</directory>
            <directory suffix="Test.php">./tests/Collections</directory>
            <directory suffix="Test.php">./tests/Container</directory>
            <directory suffix="Test.php">./tests/Security</directory>
            <directory suffix="Test.php">./tests/Session</directory>
            <directory suffix="Test.php">./tests/RateLimit</directory>
            <directory suffix="Test.php">./tests/Middleware</directory>
            <directory suffix="Test.php">./tests/Auth</directory>
            <directory suffix="Test.php">./tests/Hashing</directory>
            <directory suffix="Test.php">./tests/Encryption</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_BASE_PATH" value="tests/Mock" force="true"/>

        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value="db"/>

        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED"/>
    </php>
</phpunit>
