APP_NAME=Phare
APP_ENV=local

APP_KEY=
APP_DEBUG=true

APP_TIMEZONE=UTC
APP_LOCALE=en

APP_API_URL=https://phare.test

LOG_CHANNEL=single
LOG_SLACK_WEBHOOK_URL=
LOG_LEVEL=debug
LOG_STDERR_FORMATTER=json

DB_CONNECTION=sqlite
DB_DATABASE=forge
#DB_HOST=localhost
#DB_PORT=3306
#DB_USERNAME=root
#DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_CLUSTER=false
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PERSISTENT_CONNECTION=true
REDIS_TIMEOUT=10
REDIS_READ_TIMEOUT=10
